.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: #ced8cb 3px solid;
  border-radius: 6px;
  margin: 20px 10px;
  background-color: #fff;
  font-weight: bolder;
  height: 340px;
  width: 200px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.highlight {
  box-shadow: 4px 5px 10px #586852;
  border: #5c6e56 3px solid;

}

.above {
  color: #4e7fe0;
}

.below {
  color: #b51e35;
}